<h1>Bienvenido al chatbot</h1>
<div class="container">
    <div class="col-12 d-flex flex-column align-items-cemter">
        <div>
            <i id="user" class="me-1"></i>
            <input type="text" placeholder="type" class="p-1 ps-2 pe-2" id="chatbot">
        </div>
        <div>
            <p id="messagess">
            </p>
        </div>
    </div>
</div>