  <div class="container">
    <h1 class="text-center">Bienvenido a nuestra tienda de vehículos</h1>
    <h3 class="text-center">Encuentra el vehículo de tus sueños</h3>
    <h5 class="text-center">Empieza buscando tu auto en la seccion de "Vehiculos"</h5>
  </div>
<div class="container">
  <p class="text-center lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda harum debitis temporibus, tempora nesciunt rerum modi numquam aperiam minima. Possimus officia sapiente, sequi sunt soluta minima quas ipsam dolores ducimus!</p>
    </div>
  </div>
  <p class="text-center">Voluptates, laudantium doloribus. Animi quam vel voluptatum ex eligendi, cumque quo beatae ipsa voluptates.</p>
</div>

  