<div class="container">
  <form action="/api/auth/signin" id="registerForm" method="POST" class="row g-3 container">
    <div class="col-md-6" >
      <label for="email" class="form-label">Direccion de correo electronico</label>
      <input type="text" class="form-control" id="email" name="email" required>
    </div>
    <div class="col-md-6" >
      <label for="password" class="form-label">Contraseña</label>
      <input type="text" class="form-control" id="password" minlength="8" name="password" required>
    </div>
    <div class="col-12">
      <button type="submit" id="liveAlertBtn" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

<script>
  const registerForm = document.getElementById('registerForm');

  registerForm.addEventListener('submit', async (event) => {
    event.preventDefault()
    const emailInput = document.getElementById('email')
    const passwordInput = document.getElementById('password')
    const email = emailInput.value
    const password = passwordInput.value
let data = {
  email: email,
  password: password
}
    fetch(`/api/auth/signin`, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(data)
    })
        .then(res=>res.json())
        .then(res => {
      if (res.success) {
        alert('¡Usuario logueado correctamente!');
        window.location.href = 'http://localhost:8080'; // Redirige a localhost:8080
      } else {
        alert('Algo salió mal. Por favor, verifique sus credenciales.');
        registerForm.reset(); // Refresca el formulario
      }
    })
    .catch(err => {
      alert('Error en la solicitud. Por favor, inténtelo de nuevo.');
    });

  });
</script>
